body{
	min-width: 1207px;
	color: #fff;
	background-color: #22c3aa;
	font-family: Lato,"Microsoft YaHei",sans-serif;
	font-size: 18px;
}
h1,h2,h3,h4{margin:5px 0;padding: 0;}
ul{list-style: none;display: block;}
.center{
	text-align: center;
}
.section{
	/*position: absolute;*/
	margin:10px;
	padding-left: 40px;
	width: 90%;
	height: 440px;
	background-color: #0d3c50;
}
.section h1{
	margin: 20px 0;
}
.hide{display: none;}
.show{display: block;}
div.container{
	width: 100%;
	height: 100%;
}
div.main-container{
	margin: 0 auto;
	margin-top: 100px;
	width: 85%;
	height: 480px;
}
div.main-container:after {display:block;clear:both;content:"";overflow:hidden;height:0}
div.main-container:{zoom:1}
div.information{
	float: left;
	position: relative;
	width: 30%;
	height: 100%;
}
div.information h1{
	text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;
}
div.information h3{
	color: #0d3c50;
	-webkit-transition:0.6s;
	transition:0.6s;
}
div.information h3:hover{
	color: #9f3;
}
div.information p{margin: 10px 0;}
#wanghan{
	display: block;
	margin: 0 auto;
    margin-top: -65px;
	width: 200px;
	height: 200px;
	border: 10px solid #f1eee8;
	border-radius: 50%;
}
div.contact{
    margin-top: 25px;
	padding: 0 40px 0 60px;
	/*padding-top: 10px;*/
	color: #fff;
	text-align: left;
}
div.contact p{
	font-size: 18px;
	line-height: 26px;
}
div.contact i.fa{
	display: inline-block;

	width: 30px;
}
div.content{
	position: relative;
	float: left;
	/*padding: 10px;*/
	width: 70%;
	height: 100%;
	border: 10px solid #f1eee8;
	/*border-radius: 15px;*/
	/*color: #22c3aa;*/
	color: #e9eff2;
	background-color: #0d3c50;
	box-sizing:border-box;
	overflow: hidden;
}
div.content p{margin: 0;}
div.wrapper{
	position: absolute;
	width: 97%;
	top:0;
	left: 0;
}
/*div.information h1{
	margin-top: 50px;
}*/
#education:after {display:block;clear:both;content:"";overflow:hidden;height:0}
#education:{zoom:1}
#education ul.left{
	float: left;
	padding-left: 0;
	width: 25%;
	box-sizing:border-box;
}
#education ul.right{
	float: left;
	padding-left: 30px;
	width: 60%;
	box-sizing:border-box;
}
#awards{
	
}
#professions div.skill{
	position: relative;
	margin: 5px 0;
}
#professions div.skill span{display: inline-block;width: 200px;}
#professions div.slide{
	position: absolute;
	top:0;
	left: 200px;
	width: 200px;
	height: 20px;
	border: 2px solid #fcf9ab;
	border-radius: 10px;
}
#professions div.slide .fill{
	height: 20px;
	border-radius: 7px 0 0 7px;
	background-color: #9f3;
}
#professions .fill.html{   width: 85%;}
#professions .fill.CSS{   width: 85%;}
#professions .fill.Javascript{   width: 80%;}
#professions .fill.Jquery{   width: 90%;}
#professions .fill.Bootstrap{   width: 85%;}
#professions .fill.Java{   width: 60%;}
#professions .fill.C{   width: 50%;}
#professions .fill.Photoshop{  width: 40%;}
#professions .fill.Jsp{  width: 20%;}
#professions h1{
	margin: 15px 0;
}
#experience p{
	height: 30px;
	line-height: 30px;
}
#experience a{
	color: #e9eff2;
}
#experience a:hover{
	color: #9f3;
}
.eva-box{
	padding-left: 80px;
	width: 90%;
	height: 340px;
	background-image: url(../img/paper_sheet.png);
    background-size: 130% auto;
	box-sizing:border-box;
}
.eva-box h2{
	color: #091e27;
	text-shadow: 3px 3px 3px #ccc;
}
.eva-box ul{
	float: left;
	margin-top: 0;
	padding-left: 0;
	padding-right: 20px;
	height: 100%;
}
.eva-box ul.interests{
	padding-left: 10px;
	/*border-left: 2px dotted #ccc;*/
}
.eva-box ul.interests .more{
	margin-top: 50px;
	color: #0d3c50;
}
.eva-box ul.interests .links{
	height: 50px;
	line-height: 50px;
}
.eva-box ul.interests .github{
	display: inline-block;
	color: #0d3c50;
	-webkit-transition:0.6s;
	transition:0.6s;
}
.eva-box ul.interests .csdn{
	display: inline-block;
	color: #0d3c50;
	-webkit-transition:0.6s;
	transition:0.6s;
	/*background-color: #0d3c50;*/
}
.eva-box ul.interests a.github:hover{
	color: #9f3;
}
.eva-box ul.interests a.csdn:hover{
	color: #9f3;
}
.eva-box:after {display:block;clear:both;content:"";overflow:hidden;height:0}
.eva-box:{zoom:1}
.eva-box p{
	height: 30px;
	line-height: 30px;
	color: #2e2e22;
}
#tabs-ul{
	position: absolute;
	top:0;
	right: 0;
	margin-top: 0;
	display: block;
}
#tabs-ul li{
	display: block;
	margin:9px 0;
	width: 78px;
	height: 78px;
	line-height: 78px;
	border-radius: 50%;
	border:2px solid #008a75;
	text-align: center;
	background-color: #008a75;
	-webkit-transition: 0.6s;
    transition: 0.6s;
}
#tabs-ul a{
	color: #aee2d9;
	text-decoration: none;
}
/*#tabs-ul a:hover{
	color: #fff;
	
}*/
#tabs-ul li.current{
	background: #fff;
}
#tabs-ul li.current a{color: #008a75;}
#tabs-ul li:hover {
    background: #fff;
}
#tabs-ul li:hover a{
	color: #008a75;
}
